@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,900');

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
    min-height: 100%;
    overflow: hidden;
}

html {
  font-size: 14pt;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

body {
    /* background-color: #2E3440; */
    position: relative;
    background: linear-gradient(145deg, #313844, #292f3a);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #ECEFF4;
}

h1 {
    margin-top: 0;
}

a, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

section {
    display: block;
}

.about-me h1 {
    margin-bottom: 0;
    line-height: .85em;
    font-size: 5rem;
    letter-spacing: -6px;

    background: linear-gradient(45deg, rgba(94,129,172,1) 0%, rgba(136,192,208,1) 50%, rgba(143,188,187,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avatar {
    border-radius: 20%;
    width: 4rem;
}

aside.outer {
    position: fixed;
}
aside.bottom {
    bottom: 10%;
}
aside.top {
    top: 10%;
}
aside.left {
    left: 0;
}
aside.right {
    right: 3%;
}

aside .accent-bar {
    display: inline-block;
    min-width: 5%;
    width: 2rem;
    border-bottom: 3px solid #ECEFF4;
    position: fixed;
    right: 0;
}
    
aside.outer.bottom.left,
aside.outer.top.left {
    transform: rotate(-90deg);
    font-size: 1.25rem;
    font-weight: 300;
}

aside.outer.bottom.right {
    bottom: 5%;
}

.screen-name svg {
    vertical-align: middle;
}

main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row-reverse;
    height: 100%;
}

main > * {
    min-width: 33%;
}

nav {
    font-size: 2.75rem;
}

nav ul li:hover {
    transition: 0.1s ease-out;
    transform: translateX(1rem);
}

nav ul li {
    transition: 0.1s ease-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-me h1 + p {
    margin-top: 0;
    text-transform: lowercase;
}

.about-me ul {
    margin-top: 2rem;
    display: flex;
}

.about-me ul li {
    margin-right: 1rem;
}

@-webkit-viewport{width:device-width;}
@-moz-viewport{width:device-width;}
@-ms-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@viewport{width:device-width;}

@media (max-width: 960px) {
    html, body {
	padding: 0;
	margin: 0;
	min-height: auto;
	overflow: scroll;
    }

    main {
	position: relative;
	display: block;
    }

    main > * {
	min-width: auto;
    }

    aside.outer {
	position: relative;
	display: block;
	padding: 2rem;
    }

    aside.outer.top.left,
    aside.outer.bottom.left {
	transform: rotate(0deg);
    }

    aside.outer.bottom.right {
	position: fixed;
	top: 0;
	right: 0;
    }

    nav,
    .about-me {
	position: relative;
	display: block;
	width: 100%;
	padding: 2rem;
    }
}

@media (max-width: 480px) {
    html, body {
	padding: 0;
	margin: 0;
	min-height: auto;
    }

    main {
	position: relative;
	display: block;
    }

    main > * {
	min-width: auto;
    }

    aside.outer.top.left,
    aside.outer.bottom.left {
	transform: rotate(0deg);
    }

    aside.outer {
	position: relative;
	display: block;
	padding: 2rem;
    }

    aside.left {
	transform: rotate(0deg);
    }

    nav,
    .about-me {
	position: relative;
	display: block;
	width: 100%;
	padding: 2rem;
    }
}
